h1 {
    font-size: 200%;
    text-align: center;
    font-family: sans-serif;
    color: #dbebeb;
}

li {
    font-size: 60%;
    text-align: left;
    font-family: sans-serif;
    color: #dbebeb;
}

ol {
    font-size: 180%;
    text-align: left;
    font-family: sans-serif;
    color: #dbebeb;
}



body {
    background-color: rgba(86, 88, 105);
}